* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #000000, #00172b);
  min-height: 100vh;
  color: white;
  font-family: sans-serif;
}

.scene-wrapper {
  perspective: 100px;
}

/* credate by technocraft27 */

.box {
  display: flex;
  
  border-radius: 10%;
  transform-style: preserve-3d;
  animation: rotateCube 10s infinite linear;
  width: 300px;
  height: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
 
}

.scene_01 {
  margin: 80px;
  height: 800px;
  overflow: hidden;
  display: flex;
  background: linear-gradient(135deg, #000000, #292929);
  padding: 20px;
  justify-content: center;
  align-items: center;
  perspective: 800px;
 
}

.face {
  position: absolute;
  /* common size */
  display: flex;
  background-color: #073030;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 2px solid #310303;

  
}

.front  { transform: rotateX(0deg) translateZ(100px); background-color: #ff3c00; }
.back   { transform: rotateY(180deg) translateZ(100px); background-color: #07a5ee; }
.right  { transform: rotateY(90deg) translateZ(100px); background-color: #00f56e; }
.left   { transform: rotateY(-90deg) translateZ(100px); background-color: rgb(145, 41, 119); }
.top    { transform: rotateX(90deg) translateZ(100px); background-color: crimson;}
.bottom { transform: rotateX(-90deg) translateZ(100px); }

.box{transform: rotateX(0deg) rotatey(0deg) rotateZ(0deg)}


@keyframes rotateCube {
  from { transform: rotateX(0) rotateY(0) rotateZ(0deg) scaleX(0) scaleY(0) scaleZ(0) ; }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scaleX(2) scaleY(2) scaleZ(2);}
}




/* Code UI Styling */
.section-title {
  color: white;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 22px;
}

.code-container {
  position: relative;
  margin: 20px 50px;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(25, 25, 26);
  padding: 15px;
}

.code-block {
  font-size: 14px;
  border-radius: 10px;
  white-space: pre-wrap;
}

.editor-container {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

textarea {
  margin: 20px;
  width: 95%;
  height: 150px;
  padding: 10px;
  justify-content: center;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #00172b;
  color: aquamarine;
}

#runBtn {
  color: #ffffff;
  background-color: #00ce56;
  border-radius: 20%;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

iframe {
  margin: 30px;
  width: 95%;
  height: 200px;
  border: 1px solid #999;
  background: rgb(255, 255, 255);
  border-radius: 6px;
}

