* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #000000, #00172b);
  min-height: 100vh;
  color: white;
  font-family: sans-serif;
}

.scene-wrapper {
  perspective: 1000px;
}

/* Box style */
.box {
  height: 100px;
  width: 100px;
  background: linear-gradient(135deg, #e08104, #f11c00);
  border-radius: 10%;
  box-shadow: 0 10px 20px rgba(255, 100, 0, 0.3);
  transition: transform 0.3s ease;
 
}

/* Scene 1 – Horizontal Animation */
.scene_01 {
  margin: 80px;
  overflow: hidden;
  display: flex;
  background: linear-gradient(135deg, #000000, #292929);
  padding: 20px;
}

.scene_01 .box {
  animation: slideX 2s infinite alternate;
}

@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(600px);
  }
}

/* Code UI Styling */
.section-title {
  color: white;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 22px;
}

.code-container {
  position: relative;
  margin: 20px 50px;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(25, 25, 26);
  padding: 15px;
}

.code-block {
  font-size: 14px;
  border-radius: 10px;
  white-space: pre-wrap;
}

.editor-container {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

textarea {
  margin: 20px;
  width: 95%;
  height: 150px;
  padding: 10px;
  justify-content: center;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #00172b;
  color: aquamarine;
}

#runBtn {
  color: #ffffff;
  background-color: #00ce56;
  border-radius: 20%;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

iframe {
  margin: 30px;
  width: 95%;
  height: 200px;
  border: 1px solid #999;
  background: rgb(255, 255, 255);
  border-radius: 6px;
}
@media (max-width: 900px) {
 .box {
  height: 50px;
  width: 50px; 
}


@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}
}
